@font-face {
    font-family: 'Roboto-Regular'; 
	src: url('../fonts/Roboto-Regular.ttf'); 
}
@font-face {
    font-family: 'arial'; 
	src: url('../fonts/arial.ttf'); 
}

header {
    background-color: white;
}
.header {
    max-width: 1170px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.header__logo-container {
    display: flex;
    align-items: center;
}
.header__logo {
    background-image: url('../svg/logo-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 54px;
    height: 54px;
}
.header__logo-text {
    font-family: 'Roboto-Regular';
    font-style: italic;
    color: #c83737;
}
.header__logo-upper-text {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 2.1rem;
}
.header__logo-lower-text {
    text-transform: lowercase;
    font-size: 1.2rem;
    word-spacing: 2px;
}

.header__nav {
    display: flex;
    align-items: center;
}
.header__menu {
    list-style: none;
    font-family: 'arial';
    font-size: 1.5rem;
    color: #c83737;
}
.header__menu-item {
    display: inline-block;
    margin: 0 10px;
}
.header__menu-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header__info {
    display: flex;
    align-items: center;
}
.header__phone {
    margin-right: 25px;
    font-size: 1.5rem;
}
.header__city {
    font-size: 1.2rem;
}