@font-face {
    font-family: 'Roboto-Light'; 
	src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Medium'; 
	src: url('../fonts/Roboto-Medium.ttf'); 
}
@font-face {
    font-family: 'Roboto-Bold'; 
	src: url('../fonts/Roboto-Bold.ttf'); 
}
@font-face {
    font-family: 'Roboto-Regular'; 
	src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Arial'; 
    src: url('../fonts/arial.ttf'); 
}
@font-face {
    font-family: 'Arial-Bold-Italic'; 
	src: url('../fonts/arialbi.ttf'); 
}
@font-face {
    font-family: 'Arial-Italic'; 
	src: url('../fonts/ariali.ttf'); 
}


.main__container {
    background-image: url('../images/background-pattern.png');
    background-color: #3b3b3b;
    background-repeat: repeat;
}
.main__container-content {
    max-width: 1170px;
    margin: 0 auto;
}

.slider {
    background-image: url('../images/italian-pizza.png');
    height: 580px;
    position: relative;
}
.slider__content {
    box-sizing: border-box;
    width: 44%;
    min-width: max-content;
    height: 100%;
    padding: 0 60px 0 95px;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slider__text {
    color: white;
}
.slider__text-overhead {
    font-family: 'Roboto-Light';
    font-size: 3.2rem;
    opacity: .67;
}
.slider__text-title {
    font-family: 'Arial-Bold-Italic';
    font-size: 4.8rem;
    margin: 30px 0 15px;
}
.slider__text-subtitle {
    font-family: 'Arial-Italic';
    font-size: 1.7rem;
    opacity: .67;
}
.slider__button-container {
    width: 100%;
}
.slider__button {
    text-decoration: none;
    font-size: 2.1rem;
    font-family: 'Roboto-Medium';
    border: 0;
    border-radius: 3px;
    padding: 20px 40px;
    background-color: #ffd906;
    text-transform: uppercase;
    color: #333;
    display: block;
    margin: 30px 0 0 auto;
    transition: all .2s ease-in;
}
.slider__button:hover {
    background-color: #ffe733;
    color: #111;
    cursor: pointer;
}
.slider__arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    background-color: rgba(214, 214, 214, .8);
    overflow-x: hidden;
    border: none;
    outline: none;
    transition: all .1s ease-in;
}
.slider__arrow:hover {
    cursor: pointer;
    background-color: #fff;
}
.slider__arrow-svg {
    width: 15px;
    height: 30px;
}
.slider__arrow--direction-left {
    left: 0px;
}
.slider__arrow--direction-right {
    right: 0px;
}

.main__slider-points {
    display: flex;
    justify-content: space-between;
}
.main__slider-point {
    margin: 10px 0;
    padding: 7px 0px;
    border: none;
    width: 32.4%;
    outline: none;
}
.main__slider-point:hover {
    cursor: pointer;
}
.main__slider-point:focus {
    background-color: #ffd906;
}

.main__menu {
    margin: 30px 0 22px;
}
.main__menu-title {
    color: white;
    font-family: 'Arial-Italic';
    font-size: 3.2rem;
}
.main__sorting-and-products {
    width: 75%;
}
.sorting__container {
    margin: 22px 0 0;
    list-style: none;
    color: #bebebe;
    font-family: 'Roboto-Regular';
}
.sorting__item {
    display: inline-block;
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
    font-size: 1.7rem;
    transition: all .2s ease-in;
}
.sorting__item:hover {
    color: white;
    border-color: white;
    cursor: pointer;
}

.products {

}
.products__container {
    margin: 16px 10px 0 0;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.products__item {
    width: 32%;
    max-width: 285px;
    margin: 5px;
}
.product {
    display: flex;
}
.product__container {
    border-radius: 10px;
    overflow: hidden;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.product__image-container {
    height: 225px;
    overflow: hidden;
    flex-basis: 225px;
}
.product__description {
    flex-grow: 1;
}
.product__description-container {
    box-sizing: border-box;
    padding: 20px 15px 15px 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product__title {
    font-family: 'Arial-Bold-Italic';
    color: #333;
    font-size: 2.6rem;
}
.product__composition {
    margin-top: 10px;
    font-family: 'Arial-Italic';
    color: #333;
    font-size: 1.7rem;
}
.product__composition-item {
    list-style: square inside;
}
.product__description-container form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.product__sizes {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #565656;
    border: 2px solid #565656;
    margin-top: 40px;
    margin-bottom: 15px;
}
.product__sizes [type='radio'] {
    display: none;
}
.product_sizes-label {
    display: flex;
    flex-grow: 1;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Roboto-Medium';
}
.product_sizes-label:hover {
    cursor: pointer;
}
.product_sizes-text {
    color: white;
    display: block;
    width: 100%;
    border-radius: 15px;
    transition: all .3s ease-in;
}
.product__sizes input[type='radio']:checked ~ .product_sizes-text {
    background-color: #ffd906;
    color: #333;
}
.product__sizes input[type='radio']:checked ~ .product_sizes-text::after {
    content: ' см';
}
.product__price-and-adding-button {
    display: flex;
    align-items: center;
}
.product__price {
    font-family: 'Roboto-Bold';
    font-size: 2.6rem;
    color: #565656;
    text-align: center;
    width: 100%;
}
.product__adding-button {
    font-family: 'Roboto-Bold';
    font-size: 1.7rem;
    text-transform: uppercase;
    color: white;
    background-color: #c83737;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 0 0 0 auto;
    white-space: nowrap;
    transition: all .2s ease-in;
}
.product__adding-button:hover {
    cursor: pointer;
    background-color: #ff3a3a;
}