@color-red: #c83737;
@color-gray: #bebebe;
@color-gray_dark: #565656;
@color-red_light: #ff3a3a;
@color-yellow: #ffd906;
@color-yellow_light: #ffe733;

@font-face {
    font-family: 'Roboto-Light'; 
	src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Medium'; 
	src: url('../fonts/Roboto-Medium.ttf'); 
}
@font-face {
    font-family: 'Roboto-Bold'; 
	src: url('../fonts/Roboto-Bold.ttf'); 
}
@font-face {
    font-family: 'Roboto-Regular'; 
	src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Arial'; 
    src: url('../fonts/arial.ttf'); 
}
@font-face {
    font-family: 'Arial-Bold-Italic'; 
	src: url('../fonts/arialbi.ttf'); 
}
@font-face {
    font-family: 'Arial-Italic'; 
	src: url('../fonts/ariali.ttf'); 
}


.main {
    background-image: url('../images/background-pattern.png');
    background-color: #3b3b3b;
    background-repeat: repeat;

    &__container {
        max-width: 1170px;
        margin: 0 auto;
    }
    &__slider-container {
        margin-bottom: 20px;
    }
    &__menu-title {
        color: white;
        font-family: 'Arial-Italic';
        font-size: 3.2rem;
        margin-bottom: 10px;
    }
    &__content-columns {
        margin-top: -8px;
        display: flex;
    }
    &__sorting-and-search {
        display: flex;
        align-items: flex-start;
    }
    &__search {
        margin: 10px 0 0 10px;
        padding: 0 15px;
    }
    &__search:hover {
        color: white;
        border-color: white;
    }
    &__search:hover .search__input::placeholder {
        color: white;
    }
    &__content {
        display: flex;
        flex-direction: column;
        flex-basis: 875px;
        margin-right: 10px;
    }
    &__products {
        display: flex;
    }
    &__promotions {
        margin: 30px 0 50px;
    }
}

.slider {
    position: relative;

    &__container-content {
        height: 580px;
        position: relative;
    }
    &__container-content img {
        width: 100%;
        height: 100%;
    }
    &__content {
        position: absolute;
        box-sizing: border-box;
        width: 44%;
        min-width: max-content;
        height: 100%;
        padding: 0 60px 0 112px;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__text {
        color: white;
    }
    &__text-overhead {
        font-family: 'Roboto-Light';
        font-size: 3.2rem;
        opacity: .67;
        line-height: 1;
    }
    &__text-title {
        font-family: 'Arial-Bold-Italic';
        font-size: 4.8rem;
        margin: 16px 0 10px;
        line-height: 1;
    }
    &__text-subtitle {
        font-family: 'Arial-Italic';
        font-size: 1.7rem;
        opacity: .67;
    }
    &__button-container {
        width: 100%;
    }
    &__button {
        text-decoration: none;
        font-size: 2.1rem;
        font-family: 'Roboto-Medium';
        border: 0;
        border-radius: 5px;
        padding: 18px 40px;
        background-color: @color-yellow;
        text-transform: uppercase;
        color: #333;
        display: block;
        margin: 25px 0 0 auto;
        transition: all .2s ease-in;
        line-height: .85;
    }
    &__button:hover {
        background-color: @color-yellow_light;
        color: #111;
        cursor: pointer;
    }
    &__arrow {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        min-width: 70px;
        height: 70px;
        margin-top: -35px;
        background-color: rgba(214, 214, 214, .8);
        border: none;
        outline: none;
        transition: all .1s ease-in;
    }
    &__arrow:hover {
        cursor: pointer;
        background-color: #fff;
    }
    &__arrow-svg {
        width: 15px;
        height: 30px;
    }

    @width-triangle: 15px;

    &__arrow--direction-left {
        left: -@width-triangle;
        overflow: visible;

        svg {
            margin: 0 15+@width-triangle 0 10px;
        }
    }
    &__arrow--direction-left::before {
        content: '';
        border-top: @width-triangle solid #696969;
        border-left: @width-triangle solid transparent;
        margin-top: 70px + @width-triangle;
    }
    &__arrow--direction-right {
        right: -@width-triangle;
        overflow: visible;

        svg {
            padding: 0 10px 0 15+@width-triangle;
        }
    }
    &__arrow--direction-right::after {
        content: '';
        border-top: @width-triangle solid #696969;
        border-right: @width-triangle solid transparent;
        margin-top: 70px + @width-triangle;
    }

    &__points {
        display: flex;
        justify-content: space-between;
    }
    &__point {
        margin: 10px 0;
        padding: 5px 0px;
        border: none;
        width: 32.4%;
        outline: none;
        background-color: @color-gray_dark;
        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            background-color: @color-gray;
        }
        &:focus {
            background-color: @color-yellow;
        }
    }
}

.sorting {
    width: 75%;

    &__container {
        list-style: none;
    }
    &__item {
        display: inline-block;
        margin: 10px 5px 0 0;
        padding: 13px 14px;
        font-size: 1.7rem;
        background-color: transparent;
        color: @color-gray;
        font-family: 'Roboto-Regular';
        border: 1px solid @color-gray;
        border-radius: 15px;
        line-height: .7;
        transition: all .2s ease-in;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__item:hover {
        cursor: pointer;
        color: white;
        border-color: white;
    }
}

.search {
    width: 285px;
    height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    color: @color-gray;
    font-family: 'Roboto-Regular';
    border: 1px solid @color-gray;
    border-radius: 15px;
    transition: all .2s ease-in;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
    &__input {
        width: 100%;
        font-size: 1.7rem;
        outline: none;
        background-color: transparent;
        border: none;
        color: white;
    }
    &__input::placeholder {
        transition: all .2s ease-in;
        color: @color-gray;
    }
    &__btn {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 0 10px;
        border: none;
        border-left: 1px solid @color-gray;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }
}

.products__container {
    margin: 16px 0 0 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products__item {
    max-width: 285px;
    margin: 5px 0 5px 0;
}

.product {
    display: flex;

    &__container {
        border-radius: 10px;
        overflow: hidden;
        color: black;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    &__image-container {
        height: 225px;
        overflow: hidden;
        flex-basis: 225px;
    }
    &__description {
        flex-grow: 1;
    }
    &__description-container {
        box-sizing: border-box;
        padding: 18px 15px 15px 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        font-family: 'Arial-Bold-Italic';
        color: #333;
        font-size: 2.4rem;
    }
    &__composition {
        margin-top: 10px;
        margin-left: 17px;
        font-family: 'Arial-Italic';
        color: #333;
        font-size: 1.7rem;
    }
    &__composition-item {
        list-style: square;
    }
    &__description-container form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__sizes {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 13px;
        background-color: #565656;
        border: 2px solid #565656;
        margin-top: 28px;
        margin-bottom: 18px;
    }
    &__sizes [type='radio'] {
        display: none;
    }
    &__sizes-label {
        line-height: 1.5;
        height: 100%;
        display: flex;
        flex-grow: 1;
        text-align: center;
        font-size: 1.7rem;
        font-family: 'Roboto-Medium';
    }
    &__sizes-label:hover {
        cursor: pointer;
    }
    &__sizes-text {
        color: white;
        display: block;
        width: 100%;
        border-radius: 13px;
        transition: all .3s ease-in;
    }
    &__sizes input[type='radio']:checked ~ .product__sizes-text {
        background-color: #ffd906;
        color: #333;
    }
    &__sizes input[type='radio']:checked ~ .product__sizes-text::after {
        content: ' см';
    }
    &__price-and-adding-button {
        display: flex;
        align-items: center;
    }
    &__price {
        font-family: 'Roboto-Bold';
        font-size: 2.6rem;
        color: #565656;
        text-align: center;
        width: 100%;
        padding-right: 10px;
    }
    &__adding-button {
        font-family: 'Roboto-Bold';
        font-size: 1.7rem;
        text-transform: uppercase;
        color: white;
        background-color: @color-red;
        border: none;
        outline: none;
        padding: 10px 17px;
        border-radius: 5px;
        margin: 0 0 0 auto;
        white-space: nowrap;
        transition: all .2s ease-in;
    }
    &__adding-button:hover {
        cursor: pointer;
        background-color: @color-red_light;
    }
}

.promotions {
    width: 100%;

    &__title {
        color: white;
        font-family: 'Arial-Italic';
        font-size: 3.2rem;
        margin-bottom: 20px;
    }
    &__container {
        margin-top: -10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 5px 10px;
        box-sizing: border-box;
    }
    &__item {
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        position: relative;

        &:nth-child(1) {
            grid-column: 1/3;
            grid-row: 1/3;
        }
        &:nth-child(2) {
            grid-column: 3;
            grid-row: 1/3;
        }
        &:nth-child(3) {
            grid-column: 1;
            grid-row: 3;
        }
        &:nth-child(4) {
            grid-column: 2/4;
            grid-row: 3;
        }
    }
    &__item img {
        width: 100%;
    }
    &__item-text {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        font-family: 'Arial-Italic';
        font-size: 2.5rem;
        word-spacing: -2px;
        color: white;
        padding: 25px 30px 20px;
        background-color: rgba(0, 0, 0, .8);
    }
    &__item-title {
        font-family: 'Arial-Bold-Italic';
        text-decoration: underline;
    }
}

.basket-column {
    margin: 16px 0 40px;
    flex-basis: 285px;
}
.basket {
    max-width: 285px;
    background-image: url("../images/basket.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 15px;

    &__title {
        font-family: 'Arial-Bold-Italic';
        color: @color-red;
        text-transform: uppercase;
        font-size: 2.1rem;
        text-align: center;
        padding: 36px 0 38px 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 181px;
    }
    &__item {
        min-height: 38px;
        display: flex;
        align-items: center;
        margin-bottom: 7px;
    }
    &__item-img {
        height: 100%;
        flex-basis: 28%;
        overflow: hidden;
    }
    &__item-img img {
        width: 100%;
        height: 100%;
    }
    &__item-text {
        flex-basis: 72%;
        box-sizing: border-box;
        padding-left: 5px;
        font-family: 'Arial-Bold-Italic';
        font-size: 1.4rem;
    }
    &__item-title {
        line-height: 1;
    }
    &__item-info {
        padding-top: 2px;
        font-size: 1.2rem;
        color: @color-red;
        font-family: 'Roboto-Bold';
    }
    &__buy-button {
        font-family: 'Roboto-Bold';
        font-size: 1.7rem;
        text-transform: uppercase;
        color: white;
        background-color: @color-red;
        border: none;
        outline: none;
        padding: 10px 17px;
        border-radius: 5px;
        margin: auto 0 23px 0;
        white-space: nowrap;
        transition: all .2s ease-in;
    }
    &__buy-button:hover {
        cursor: pointer;
        background-color: @color-red_light;
    }
}

@media screen and (max-width: 1230px) {
    .basket-column {
        display: none;
    }
    .main {
        &__container {
            max-width: 875px;
        }
        &__content {
            margin: 0;
            flex-basis: 100%;
        }
        &__promotions {
            margin: 30px 0 40px;
        }
    }
    .products__container {
        justify-content: space-between;
    }
    .slider {
        &__container-content {
            height: 434px;
        }
        &__content {
            padding: 0 15px 0 70px;
        }
        &__text-overhead {
            font-size: 2.5rem;
        }
        &__text-title {
            font-size: 4rem;
            line-height: 1.2;
            margin: 20px 0 10px;
        }
        &__text-subtitle {
            font-size: 1.5rem;
        }
        &__button {
            margin: 22px 0 0 auto;
        }
    }
    .sorting {
        width: 590px;
    }
}

@media screen and (max-width: 930px) {
    .main {
        &__container {
            max-width: 100%;
        }
        &__content-container {
            margin: 0 15px;
        }
        &__sorting-and-search {
            flex-direction: column;
        }
        &__search {
            align-self: flex-end;
        }
    }
    .slider {
        &__content {
            width: 50%;
            padding: 0 28px 0 30px;
        }
        &__text-overhead {
            font-size: 2.5rem;
        }
        &__text-title {
            font-size: 4rem;
            margin: 25px 0 10px;
        }
        &__text-subtitle {
            font-size: 1.5rem;
        }
        &__points {
            margin: 0 15px;
        }
        &__arrow {
            display: none;
        }
    }
    .sorting {
        width: 100%;
    }
    .search {
        width: 285px;
    }
    .products__container {
        justify-content: center;
    }
    .products__item {
        margin: 7px 5px;
    }
    .product {
        &__sizes {
            margin-top: 26px;
            margin-bottom: 15px;
        }
    }
    .promotions {
        &__container {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, 205px);
            grid-gap: 10px;
        }
        &__item {
            &:nth-child(1) {
                grid-column: 1/4;
                grid-row: 1/3;
            }
            &:nth-child(2) {
                grid-column: 4/6;
                grid-row: 1/3;
            }
            &:nth-child(3) {
                grid-column: 1/3;
                grid-row: 3;
            }
            &:nth-child(4) {
                grid-column: 3/6;
                grid-row: 3;
            }
        }
        &__item img {
            height: 100%;
        }
    }
}

@media screen and (max-width: 640px) {
    .slider {
        &__container-content {
            height: 250px;
        }
        &__text-title {
            font-size: 3rem;
        }
    }
    .products__container {
        justify-content: space-between;
    }
    .products__item {
        width: 47%;
    }
    .product {
        &__image-container {
            overflow: hidden;
            flex-basis: 125px;
        }
        &__image-container img {
            width: 100%;
        }
        &__adding-button {
            padding: 7px;
            font-size: 1.4rem;
        }
    }
    .promotions {
        &__item img {
            width: 200%;
        }
        &__item-text {
            font-size: 2rem;
            padding: 15px 20px 10px;
        }
    }
}