@import './header.less';
@import './main.less';
@import './footer.less';

@font-face {
    font-family: 'Roboto-Light'; 
	src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Medium'; 
	src: url('../fonts/Roboto-Medium.ttf'); 
}
@font-face {
    font-family: 'Roboto-Bold'; 
	src: url('../fonts/Roboto-Bold.ttf'); 
}
@font-face {
    font-family: 'Roboto-Regular'; 
	src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Arial'; 
    src: url('../fonts/arial.ttf'); 
}
@font-face {
    font-family: 'Arial-Bold-Italic'; 
	src: url('../fonts/arialbi.ttf'); 
}
@font-face {
    font-family: 'Arial-Italic'; 
	src: url('../fonts/ariali.ttf'); 
}

html {
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial';
}

@media screen and (max-width: 640px) {
    html {
        font-size: 7px;
    }
}