body {
  font-size: 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#root {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.todo {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-panel {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.change-all-tod-button {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 15px;
  background-color: rgb(52, 140, 255);
  outline: none;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 15px;
  transition: all 0.2s ease-in;
}
.change-all-tod-button:hover {
  cursor: pointer;
  background-color: rgb(42, 97, 250);
}

.form-add-todo {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.input-title-todo {
  font-size: 2rem;
  width: 100%;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 15px;
  outline: none;
  padding: 0 20px;
}

.add-todo-button {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;
  margin-left: 15px;
  white-space: nowrap;
  background-color: rgb(52, 140, 255);
  outline: none;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 15px;
  transition: all 0.2s ease-in;
}
.add-todo-button:hover {
  cursor: pointer;
  background-color: rgb(42, 97, 250);
}

.todo-list {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 15px;
  list-style: none;
}
.todo-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.done {
  text-decoration: line-through;
  color: gray;
}
.input-checkbox {
  margin-right: 10px;
}

.remove-button {
  margin-left: auto;
  margin-right: 0;
  padding: 3px 10px;
  background-color: rgb(52, 140, 255);
  outline: none;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 15px;
  transition: all 0.2s ease-in;
}
.remove-button:hover {
  cursor: pointer;
  background-color: rgb(42, 97, 250);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 0 5px;
  padding: 10px;
  white-space: nowrap;
  background-color: rgb(52, 140, 255);
  outline: none;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 15px;
  transition: all 0.2s ease-in;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(42, 97, 250);
}
.button:disabled {
  background-color: rgb(52, 140, 255);
}

.filter-buttons {
  display: flex;
}

.hidden {
  display: none;
}
